{% extends "::layout.html.twig" %}

{% block content %}

    <div id="image_container">
        <img src="/images/pic2.jpg" width="330px" alt="">
    </div>
    <div id="item_content_wrapper">
        <h1>СЕРЬГИ С БРИЛЛИАНТАМИ И ЖЕМЧУГОМ</h1>
        <p id="item_article">Артикул : 17262</p>
        <p id="item_description">
            Серьги с 50 бриллиантами, 0.12 карат <br>
            2 жемчуга <br>
            Розовое золото 585 пробы.
        </p>
        <p id="item_price">14 390 р.</p>

        <a id="item_add_to_cart" href="#">Добавить в корзину</a>
    </div>
    <div class="clear"></div>

{% endblock %}