{%  extends "::layout.html.twig" %}


{% block content %}
    <h1>Карта сайта</h1>
    <h3>Статьи</h3>
    <ul>
        {% for page in staticPage %}
        <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    <h3>Каталог</h3>
    <ul>
        {% for catalog in catalogs %}
            <li><a href="{{ catalog.getFullUrl }}">{{ catalog.getName }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}