<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" media="screen" href="/bootstrap/css/bootstrap.min.css" />
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>

        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    <meta>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {#<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
                        {#&#123;&#35;<span class="icon-bar"></span>&#35;&#125;#}
                        {#&#123;&#35;<span class="icon-bar"></span>&#35;&#125;#}
                        {#&#123;&#35;<span class="icon-bar"></span>&#35;&#125;#}
                    {#</button>#}
                    {#<a class="brand" href="#">Админка</a>#}
                    {#<div class="nav-collapse collapse">#}
                        {#<ul class="nav">#}
                            {#<li><a href="{{ path('pegas_admin_homepage') }}">Главная</a></li>#}
                            {#<li><a href="{{ path('pegas_admin_news_list') }}">Новости</a></li>#}
                            {#<li><a href="#contact">Публикации</a></li>#}
                        {#</ul>#}
                    {#</div><!--/.nav-collapse -->#}
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}
                <h1>Bootstrap starter template</h1>
                <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
            {% endblock %}
        </div> <!-- /container -->

    </body>
</html>